* {
  outline: none;
}

.calc__wrapper {
  border: 1px solid black;
  margin-top: 20px;
}

.calc {
  max-width: 320px;
  width: 100%;
  margin: 30px auto;
  text-align: center;
}

.calc__header {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #80808075;
  font-weight: 600;
  color: blue;
}

.calc__body {
  width: 100%;
  display: flex;
  margin: 20px 0;
  align-items: center;
  justify-content: center;
}

.calc__body ul {
  padding: 0;
  margin: 0;
  text-align: left;
}

.calc__body li{
  cursor: pointer;
  margin: 10px;
}

.calc__body input {
  width: 90px;
  height: 24px;
  font-size: 100%;
  text-align: center;
  margin: 0 auto;
}

.calc__buttons {
  margin-top: 30px;
}

.calc__buttons button {
  background-color: snow;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
  margin: 0 10px;
}
